*{
    margin: 0;
    padding: 0;
   
}

a{
    text-decoration: none;
}

body{
    background-color: rgb(0,0,33);
    color: white;
    
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color:rgb(0, 0, 50);
}

.left{
    font-size: 1.8rem;
}

.left:hover{
    color: rgb(153, 153, 226);
}

.firstSection{
    display: flex;
    justify-content: space-around;
    margin: 23px 0;
}

.firstSection > div{
    width:30%;
}

.leftSection{
    width: 70%;
    text-align: left;
    margin-top: 120px;
    font-size: 3.7rem;
    position: relative;
    top: 50px;
    margin-left: 40px;
}

.rightSection{
    text-align: center;
}

.rightSection img{
    margin-top: 120px;
    margin-right: 50px;
    margin-left: -70px;
}

.purple{
    color: blueviolet;
}

#animation{
    color: blueviolet;
}

.leftSection .btn{
    background: #31317d;
    color: white;
    padding: 12px;
    border: 2px solid white;
    border-radius: 3px;
    font-size: 1.2rem;
    margin-top: 70px;
    margin-left: 5px;
}

.leftSection .btn a{
    text-decoration: none;
}

.divider1{
   height: 3px;
   width: 200px;
   background-color: white;
   position: relative;
   left: 755px;
   top:130px;
}


.about{
    display: flex;
    background-color: blueviolet;
    margin-top: 150px;
    justify-content: center;
    height: 400px;
    width: 75%;
    margin-left:200px;
    border: 2px solid white;
    border-radius: 0.1%;
}

.about .abt{
    height: 40px;
    width: 300px;
    background-color:blueviolet;
    font-size: 1.5rem;
    align-content: center;
    position: relative;
    left: 535px;
    margin-top: 30px;
}

.about .text{
    background-color:blueviolet;
    width: 70%;
    height: 60%;
    position: relative;
    top: 100px;
    left:-160px;
    font-size: 1.3rem;
}

.myskills{
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    margin-top: 120px;
}

.skillbox{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.skills{
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 1000px;
}

.skillbox .skills .skill-img{
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connect{
    
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 30px;
}

.connect .cnct{
    font-size: 1.1rem;

}

.Socialmedia{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.Socialmedia .contactlogo{
    height:50px;
    width:190px;
    
    display: flex;
    justify-content: space-around;
}

.Socialmedia .contactlogo .logo{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:450px){

    nav{
        width: 100%;
        display: none;
    }

    .left{
        font-size: 1.8rem;
        padding: 0 20px;
    }

    .firstSection{
        display: flex;
        align-items: center;
        margin: 23px 0;
    }
    
    .firstSection > div{
        width:80%;
    }
    
    .leftSection{
        width: 90%;
        text-align: left;
        margin-top: 0px;
        font-size: 3.7rem;
        position: relative;
        top: 50px;
        margin-left: 40px;
        top: 70px;
        left: 7px;
    }
    
    .rightSection{
        display: none;
    }
    
    .button{
        width: auto;
        justify-content: center;
    }

    .leftSection .btn{
        background: #31317d;
        color: white;
        padding: 12px;
        border: 2px solid white;
        border-radius: 3px;
        font-size: 1.2rem;
        margin-top: 70px;
        margin-left: 55px;
    }
    
    .divison{
        display: flex;
        justify-content: center;
    }

    .divider1{
        height: 2px;
        width: 50px;
        background-color: white;
        position: relative;
        left: 190px;
        top:100px;
     }

     .dpcont{
        display: flex;
        width: auto;
        justify-content: center;
     }

     .dp{
        height: 300px;
        width: 300px;
        
        position:relative;
        top: 65px;
    
        display: flex;
        justify-content: center;
        align-items: center;
     }

     .dp img{
        justify-self: center;
     }

     .about{
        display: flex;
        background-color: blueviolet;
        margin-top: 150px;
        justify-content: center;
        height: 830px;
        width: 75%;
        margin-left:55px;
        border: 2px solid white;
        border-radius: 0.1%;
    }
    
    .about .abt{
        height: 40px;
        width: 400px;
        background-color:blueviolet;
        font-size: 1.5rem;
        align-content: center;
        position: relative;
        left: 160px;
        margin-top: 30px;
    }
    
    .about .text{
        background-color:blueviolet;
        width: 90%;
        height: 60%;
        position: relative;
        top: 110px;
        left:-100px;
        font-size: 1.3rem;
    }

    .about .abt h1{
        width: 200px;
    }
    
    .about .text p{
        width: 300px;
    }

    .skillbox{
        display: flex;
        align-items: center;
        margin-top: 50px;
    }

    .skills{
        text-align: center;
        display: none;
        align-items: center;
        
    }
    
    .skillbox .skills .skill-img{
        height: 70px;
        width: 70px;
        display: none;
        align-items: center;
        justify-content: center;

    }

    .skillbox .skills .skill-img img{
        height: 50px;
        width: 50px;
    }

    .container {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        padding: 20px;
        margin-left: 90px;
    }

    .child-div {
        margin: 10px 0;
        padding: 20px;
        width: 80%;
        text-align: center;
    }

    .container .child-div img{
        height: 120px;
        width: 120px;
    }

    .divider2{
        height: 2px;
        width: 50px;
        background-color: white;
        position: relative;
        left: 190px;
        top:100px;
    }
}

@media(min-width:450px){
    .dp{
        display: none;
    }

    .container{
        display: none;
    }

    .divider2{
        display: none;
    }

    .dpcont{
        display: none;
    }
}
